# Configuration file for App Version 1.x
{# This is Jinja2 comment and template repesenting an imagination configuration file #}

DB Server IP:         {{ ansible_default_ipv4.address }}
Machine Architecture: {{ ansible_machine }}
